.footer {
  background-color: #16133d;
}

.footer-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 40px;
  padding-top: 40px;

  &__image {
    margin-right: 14px;
    fill: white;
  }

  &__text {
    color: #f2f2f2;
    font-family: Quicksand;
    font-weight: 500;
    font-size: 35px;
    line-height: 35px;
  }
}

.footer-sprite {
  &__icon {
    background-image: url(../../../images/css_sprites.png);

    background-repeat: no-repeat;
    background-position: 0 0;
    display: inline-block;
    width: 38px;
    height: 38px;
    padding-right: 8px;

    &_instagram {
      background-position: -40px -40px;
    }

    &_facebook {
      background-position: 10px 10px;
    }

    &_git {
      background-position: 10px 10px;
    }

    &_dribble {
      background-position: 10px 10px;
    }

    &_twitter {
      background-position: 10px 10px;
    }
  }
}
